.hero-single {
    padding-top: 7rem;
    padding-bottom: 7rem;
    .container {
        display: flex;

        .content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 20px;
            flex: 0 0 50%;
        }

        .image {
            flex: 0 0 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            img {
                width: 600px;
                border-radius: 50px;
            }
        }
    }
}