.icon-boxes {
    padding-top: 7rem;
    padding-bottom: 7rem;
    .container {
        .title {
            gap:20px;
            display: flex;
            flex-direction: column;
            .subline {
                text-align: center;
            }
        }
        
        .icon-boxes-wrapper {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin-top: 20px;
            justify-content: space-between;

            .icon-box {
                display: flex;
                flex-direction: column;
                gap: 10px;
                flex-basis: calc(33.333% - 26.66px);
                margin-bottom: 20px;

                i {
                    color: $secondary;
                    font-size: 3rem;
                }
            }
        }
        .has-subline {
            margin-top: 50px;
        }
    }
}