.market {
    padding-top: 7rem;
    padding-bottom: 7rem;

    .container {
        display: flex;
        gap: 50px;

        .content-wrapper {
            box-shadow: 0px 0px 40px -15px rgba(45.99999999999999, 66.99999999999999, 117, 0.5);
            background: #FFFFFF;
            display: flex;
            border-radius: 20px;
            padding: 40px;
            flex-direction: column;
            width: 100%;

            .currency-selector {
                margin-top: 40px;

                #currency {
                    display: flex;
                    align-items: center;
                    column-gap: 4px;
                    line-height: 1.425 !important;
                    cursor: pointer;
                    padding: 3px 5px;
                    border-radius: 8px;
                    background-color: #EFF2F5;
                    border: none;
                }
            }
            
            .market-values {
                margin-top: 40px;
                display: flex;
                flex-direction: row;
                gap: 40px;
                flex-wrap: wrap;

                .market-value {
                    display: flex;
                    align-items: center;
                    gap: 20px;
                    flex-basis: calc(50% - 20px);
                    justify-content: space-between;

                    .currency {
                        display: flex;
                        align-items: center;
                        gap: 20px;

                        img {
                            height: 65px;
                        }
                    }

                    .value {
                        display:flex;
                        flex-direction: column;
                        gap: 20px;
                        align-items: flex-end;

                        img {
                            background-color: #b4f6cb;
                            border-radius: 20px;
                            padding-left: 20px;
                            padding-right: 20px;
                            padding-top: 5px;
                            padding-bottom: 5px;
                        }
                    }
                }
            }
        }
    }
}
