.pricing {
    padding-top: 7rem;
    padding-bottom: 7rem;

    .pricing-wrapper {
        .title {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 50px;
        }

        .pricing-boxes {
            display: flex;
            justify-content: center;
            gap: 30px;
            

            .pricing-box {
                background-color: #FFFFFF;
                border-radius: 20px;
                padding: 40px;
                box-shadow: 0px 0px 40px -15px rgba(45.99999999999999, 66.99999999999999, 117, 0.5);
                flex: 0 0 50%;

                .highlight {
                    font-size: 13px;
                }

                h3 {
                    font-size: 44px;
                }

                h4 {
                    font-size: 17px;
                    margin-bottom: 40px;
                }

                span {
                    font-size: 20px;
                }

                .list-group-numbered {
                    margin-top: 40px;
                    padding-left: 0;
                    .coming-soon {
                        position: relative;
                        opacity: 0.5; /* Dim the list item */
                        pointer-events: none; /* Prevent interaction */
                        margin-left:0;
                    }
                    
                    .coming-soon .coming-soon-text {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        background-color: rgba(128, 128, 128, 0.7); /* Semi-transparent grey background */
                        color: white;
                        padding: 5px 10px;
                        font-size: 18px;
                        font-weight: bold;
                        border-radius: 5px;
                        width: 100%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        text-transform: uppercase;
                    }
                    .list-group-item {
                        display: flex;
                        align-items: flex-start;
                        margin-bottom: 20px;

                        &::before {
                            text-align: center;
                            margin-right: 20px;
                            font-size: 15px;
                            background-color: $secondary;
                            border-radius: 50px;
                            padding: 5px 8px 3px 8px;
                            color: #FFFFFF;
                            content: "\f272";
                            font-family: bootstrap-icons;
                        }

                        .list-group-item-content {
                            h5 {
                                font-size: 17px;
                            }

                            span {
                                color:#00000099;
                                font-size: 15px;
                            }
                        }
                    }
                }

                .btn-link {
                    margin-top: 40px;
                }

                &:not(:nth-child(1)) {
                    background-color: $primary;
                    color: #FFFFFF;
                    .list-group-numbered {
                        .list-group-item {
                            .list-group-item-content {
                                span {
                                    color:#FFFFFF99;
                                }
                            }
                        }
                    }

                    .btn-link {
                        color: #FFFFFF;
    
                        i {
                            background-color: #FFFFFF;
                            color: $primary;
                        }
                    }

                    .btn-link:hover {
                        color: $secondary;
    
                        i {
                            background-color: $secondary;
                            color: #FFFFFF;
                        }
                    }
                }

                &:hover {
                    .btn-link {
                        color: $secondary;
                    
                        i {
                            background-color: $secondary;
                            color: #FFFFFF;
                        }
                    }
                }
            }
        }
    }
}